<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">Atrás</ion-button>
        </ion-buttons>
        <ion-title>Nuevo Usuario</ion-title>
        <!-- <ion-buttons slot="end">
            <ion-button (click)="cancel()" [strong]="true">Confirm</ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="placa"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="titular"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input type="text" [(ngModel)]="telefono"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Correo Electronico</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Tipo de Documento</ion-label>
        <ion-select value="1" interface="action-sheet">
            <ion-select-option value="1">DNI</ion-select-option>
            <ion-select-option value="2">Pasaporte</ion-select-option>            
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">N° Documento</ion-label>
        <ion-input type="text" [(ngModel)]="dni"></ion-input>
    </ion-item>
    <ion-button class="buttons"  (click)="openModal()" expand="block" >Escanear Huella</ion-button>
    <ion-button class="buttons" (click)="openModalFace()" expand="block" >Escanear Rostro</ion-button>
    <ion-button class="buttons" (click)="openModalNewCar()" expand="block" >Registrar Vehiculo</ion-button>
</ion-content>
<ion-footer collapse="fade">
    <ion-button  (click)="cancel()" expand="block" >Finalizar</ion-button>
    <ion-toolbar>
        
            <ion-note>Al continuar estoy aceptando los </ion-note>
            <ion-note color="primary">Terminos y Condiciones</ion-note>
        
    </ion-toolbar>
</ion-footer>