<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="card-button">
          <div class="inside">
            <ion-icon style="margin: 5px;" size="large" slot="end" name="hammer-outline" color="primary"></ion-icon>
            <ion-label>Servicio de Mantenimiento</ion-label>            
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="card-button">
          <div class="inside">
            <ion-icon style="margin: 5px;" size="large" slot="end" name="location-outline" color="primary"></ion-icon>
            <ion-label>Talleres</ion-label>            
            <ion-label>Cercanos</ion-label>            
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="card-button">
          <div class="inside">
            <ion-icon style="margin: 5px;" size="large" slot="end" name="location-outline" color="primary"></ion-icon>
            <ion-label>Gasolineras Cercanas</ion-label>            
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="card-button">
          <div class="inside">
            <ion-icon style="margin: 5px;" size="large" slot="end" name="close-circle-outline" color="primary"></ion-icon>
            <ion-label>Faltas del Vehiculo</ion-label>            
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>