ion-icon {
    font-size: 128px;
  }


.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    align-items: center;
    
    height: 100%;
}

.finger-container{
    padding: 10px;
    border: solid;
    border-radius: 50%;
}
.image-face{
    height: 300px;
}